@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html{
    background-color: #1f5307 ;
}
.main{
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    display: flex;
    transform: translate(-50%,-50%);
    height: 679px;
    border-radius: 20px;

}
.imagem{
    width: 450px;
    border-radius: 10px;
    margin: 20px;
 }
p{
    margin-top: 120px;
    padding-left: 100px;
    font-size: 60px;
    color: #ee7008 ;
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: normal;
}
.botao{
    margin-left: 70px;
    font-size: 25px;
    color: white;
    background-image: linear-gradient(to right, #ee8229, #ee7008);
    border: none;
    border-radius: 5px;
    padding-left: 182px;
    padding-right: 182px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 10px;
    margin-right: 40px;
    font-weight: bold;
    transition: .5s;  
}
.botao:hover{ 
    cursor: pointer;
    background-image: linear-gradient(to right, #ee7008, #ee8229);
}
t{
    margin-left: 78px;
    color: #ee8229;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: italic;
}
a:link{
    color: #ee8229;
}
a:visited{
    color: #ee7008;
}
.inputBox{
    position: relative;
}
.inputUser{
    width: 420px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    margin-left: 70px;
    margin-right: 70px;
    font-size: 20px;
    margin-bottom: 30px;
    color: #c45b05;
    border-color: #ee7008;
    border-radius: 5px;
    letter-spacing: 1px;
    outline: none;
    border: solid 3px;
}
.inputUser:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
    transition: 300ms;
    border-color: #ff943d;
    letter-spacing: 1px;
}
.labelInput{
    position: absolute;
    top: 15px;
    left: 78px;
    pointer-events: none;
    transition: .3s;
    font-family: "Poppins", serif;
    font-weight: 500;
    color: #c45b05;
}
.labelDate{
    margin-left: 78px ;
    font-family: "Poppins", serif;
    font-weight: 500;
    color: #c45b05
}
.inputD:hover{
    cursor: pointer;
}
.inputUser:focus ~ .labelInput, .inputUser:valid ~ .labelInput{ 
    top: -3px;
    font-size: 15px;
    color: #f2a260
}